<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
    <!-- Rather than using two-way data-binding, we can also get the server name using a local reference (#serverNameInput), as follows -->
    <input
      type="text"
      class="form-control"
      #serverNameInput
    >
    <label>Server Content</label>
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerContent"> -->
    <!-- We're again using a ref instead of two-way data-binding, but this time we're going to access the ref from the Component Controller, using `@ViewChild` -->
    <input
      type="text"
      class="form-control"
      #serverContentInput
    >
    <br>
    <!-- The aforementioned local reference (`serverNameInput`) is then available to us to use throughout the template -->
    <button
      class="btn btn-primary"
      (click)="onAddServer(serverNameInput)">Add Server</button>
    <button
      class="btn btn-primary"
      (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
  </div>
</div>